@charset 'UTF-8';

html {
  font-family: sans-serif;
  touch-action: manipulation;
}

header {
  background-color: #ffdddd;
}
header h1 {
  font-size: 24px;
  padding: 10px 0;
}

nav {
  background-color: #ddffdd;
}

footer {
  background-color: #ddddff;
}


.itemBox {
  width: 400px;
  border: solid 1px #444;
  margin: 3px auto;
}

.itemName:before,
.itemDetail:before,
.itemPrice:before {
  font-size: 80%;
  font-weight: bold;
  vertical-align: bottom;
}
.itemName:before { content: "商品名："; }
.itemDetail:before { content: "商品説明："; }
.itemPrice:before { content: "価格："; }

.itemName {
}
.itemPicture {
  width: 320px;
  height: 320px;
  background-color: #ccc;
  margin: 3px auto;
  text-align: center;
  line-height: 320px;
}
.itemDetail {
}
.itemPrice {
  color: red;
}

.itemBox button {
  border: ridge 2px #888;
  background-color: #ccc;
}



