@charset 'UTF-8';

html {
  font-family: sans-serif;
  touch-action: manipulation;
}

header {
  background-color: #ffdddd;
}
header h1 {
  font-size: 24px;
  padding: 10px 0;
}

nav {
  background-color: #ddffdd;
}

footer {
  background-color: #ddddff;
}


.itemBox {
  width: 400px;
  border: solid 1px #444;
  margin: 3px auto;
}
.itemName:before {
  content: "商品名：";
  font-size: 80%;
  font-weight: bold;
  vertical-align: bottom;
}
.itemName {
}


